/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f9;
}

/* Estilo para el contenido de la aplicación */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px; /* Para no solaparse con el nav-bar fijo */
}

/* Estilos para el NavBar que siempre se encuentra arriba */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 1000; /* Asegura que el NavBar esté siempre por encima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-icon {
  font-size: 1.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.cart-icon:hover {
  color: #ffc107;
}

/* Estilos de la lista de productos */
.product-list {
  display: flex;
  justify-content: space-around;
  margin-top: 80px; /* Para no solaparse con el NavBar */
  width: 50%;
}

.product-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-item button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.product-item button:hover {
  background-color: #218838;
}

/* Estilos del carrito desplegable */
.cart {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 80px; /* Para que no se solape con el NavBar */
  right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.vaciar-carrito {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.vaciar-carrito:hover {
  background-color: darkred;
}
